# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/

# Swift Package Manager build folder
.build/

# Xcode user data
**/xcuserdata/
*.xcuserstate

# Swift package manager dependencies
Packages/

