# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/

# Swift Package Manager build folder
.build/

# Xcode user data
**/xcuserdata/
*.xcuserstate

# Swift package manager dependencies
Packages/

Secrets.plist
ImageDeskew/Secrets.plist


ImageDeskew.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
ImageDeskew.xcodeproj/xcshareddata/xcschemes/ImageDeskew.xcscheme
ImageDeskew.xcodeproj/xcshareddata/xcschemes/ImageDeskewTests.xcscheme
ImageDeskew.xcodeproj/project.pbxproj
ImageDeskew/DeepLabV3.mlmodel
ImageDeskew/DeepLabV3.mlmodel
ImageDeskew/Info.plist
Podfile
ImageDeskew/SecretsManager.swift
ImageDeskew/CodexWrapper.swift
ImageDeskew.xcodeproj/project.pbxproj
